.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

@media all and (max-width: 700px) {
    .app > .page-body{
        flex-direction: column;
    }

    .page-body > div:nth-child(2){
        margin-left: 0px !important;
        min-width: 100%;
    }
}

.page-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page-body > div:nth-child(1){
    flex-grow: 1;
}

.page-body > div:nth-child(2){
    margin-left: 20px;
    max-width: 70%;
    flex-grow: 2;
}

.buttons-block{
    margin-bottom: 30px;
}
.buttons-block button:nth-of-type(2){
    margin-left: 20px;
}